@use "../../styles/mixins.scss";
@use "../../styles/variables.scss";

.projects {
  @include mixins.container;
  text-align: center;
  .project-cards {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    .project-card {
      flex: 0 0 270px;
      text-align: center;
      padding: 30px 20px 20px;
      background-color: variables.$dark-grey;
      border: 1px solid transparent;
      cursor: pointer;
      scroll-snap-align: start;
      &:hover {
        border-color: variables.$white;
        color: unset;
        img {
          filter: brightness(1.05);
        }
      }
      img {
        width: 100%;
      }
      h3 {
        margin: 20px 0;
        font-size: 16px;
      }
      p {
        color: variables.$light-grey;
        line-height: 24px;
      }
    }
  }
}
