@use "../../styles/mixins.scss";
@use "../../styles/variables.scss";

.skillsBanner {
  @include mixins.container;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: variables.$grey;
  gap: 15px;
  .skill {
    display: flex;
    align-items: center;
    border-radius: 40px;
    border: 1px solid variables.$white;
    overflow: auto;
    padding: 10px 18px;
    gap: 15px;
    cursor: pointer;
    overflow-x: hidden;
    &:hover {
      border-color: variables.$primary-color;
    }
    img {
      max-height: 32px;
      max-width: 40px;
    }
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 4px;
      > p:last-of-type {
        font-size: 12px;
        font-style: italic;
        color: variables.$light-grey;
      }
    }
  }
}

@media only screen and (max-width: variables.$max-tablet-width) {
  .skillsBanner .skill {
    flex: 1 0 40%;
    > div {
      gap: 2px;
    }
  }
}

@media only screen and (max-width: variables.$max-mobile-width) {
  .skillsBanner .skill {
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    > div {
      gap: 2px;
    }
  }
}
