@use "./variables";
@use "./mixins";

body {
  color: variables.$white;
  // background-color: variables.$grey;
  background: linear-gradient(
    45deg,
    variables.$primary-color -50%,
    variables.$grey 100%
  );
  // background: linear-gradient(
  //   45deg,
  //   rgba(34, 164, 116, 1) 0%,
  //   rgba(41, 47, 143, 1) 100%
  // );
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: variables.$white;
  transition: all 0.3s ease-in;
}

a:hover {
  color: variables.$primary-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  margin: 0;
}
