// colours
$primary-color: #2ecc71;
$secondary-color: #3498db;
$black: #0f0f0f;
$dark-grey: #131313;
$grey: #1e1e1e;
$light-grey: #c3c3c3;
$white: #f0f0f0;
// $royal-purple: #6a0dad;
// $dark-purple: #4B0082;
// $eggplant: #3D1E6D;
// $muted-plum: #5D3A6D;

$font-family: "Roboto", sans-serif;
$base-padding: 20px;
$max-tablet-width: 600px;
$max-mobile-width: 375px;
$max-container-width: 1200px;
$header-height: 60px;
