.pb {
  // max-width: 500px;
  display: flex;
  // flex-wrap: wrap;
  // border: 1px solid;
  position: relative;
  align-items: center;
  // cursor: pointer;
  &:hover .pb-bar-full {
    filter: brightness(120%);
  }
  &-label {
    width: 280px;
    font-weight: 600;
    font-family: 'Anonymous Pro', Monaco, "Courier New", monospace;
  }
  &-bar {
    animation: fadeIn 0.5s 0.5s forwards;
    opacity: 0;
    // animation: fillRight 2s 0.5s forwards;
    position: absolute;
    z-index: 2;
    height: 26px;
    background-color: #b0b0b0;
  }
  &-bar-full {
    border: 2px solid #272727;
    position: relative;
    top: 0px;
    // left: 148px;
    width: 100%;
    height: 30px;
    background-color: #272727;
    z-index: 1;
  }
}

@keyframes fadeIn {
  from {
    left: -5px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

// @keyframes fillRight {
//   0% {
//     width: 0px;
//     background-color: #f0f0f0;
//   }
//   50% {
//     width: 100%;
//     background-color: #f0f0f0;
//   }
//   100% {
//     width: 100%;
//     background-color: red;
//   }
// }