.stepper {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 10px 10px;
  text-align: center;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 8px 8px 5px 0px rgba(99,99,99,0.86);
  -moz-box-shadow: 8px 8px 5px 0px rgba(99,99,99,0.86);
  box-shadow: 8px 8px 5px 0px rgba(99,99,99,0.86);
  &-headings {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    .icon {
      max-width: 75px;
      max-height: 75px;
      cursor: pointer;
      padding: 5px;
      transition: box-shadow 0.3s;
      border: 1px solid transparent;
      border-radius: 20px;
      &.selected {
        box-shadow: 5px 5px 10px 0px #b0b0b0;
      }
      &:hover {
        box-shadow: 5px 5px 10px 0px #b0b0b0;
      }
    }
    .heading {
      cursor: pointer;
      padding: 5px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    border: 1px solid #e0e0e0;
    margin: 20px 15px;
    min-height: 300px;
    h3 {
      margin: 20px 0;
    }
    p {
      text-align: left;
      padding: 16px 30px;
    }
  }
}