.stepper {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px 10px 10px;
  text-align: center;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 8px 8px 5px 0px rgba(99, 99, 99, 0.86);
  -moz-box-shadow: 8px 8px 5px 0px rgba(99, 99, 99, 0.86);
  box-shadow: 8px 8px 5px 0px rgba(99, 99, 99, 0.86); }
  .stepper-headings {
    display: flex;
    justify-content: space-around;
    font-weight: bold; }
    .stepper-headings .icon {
      max-width: 75px;
      max-height: 75px;
      cursor: pointer;
      padding: 5px;
      transition: box-shadow 0.3s;
      border: 1px solid transparent;
      border-radius: 20px; }
      .stepper-headings .icon.selected {
        box-shadow: 5px 5px 10px 0px #b0b0b0; }
      .stepper-headings .icon:hover {
        box-shadow: 5px 5px 10px 0px #b0b0b0; }
    .stepper-headings .heading {
      cursor: pointer;
      padding: 5px; }
      .stepper-headings .heading:hover {
        text-decoration: underline; }
  .stepper-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    border: 1px solid #e0e0e0;
    margin: 20px 15px;
    min-height: 300px; }
    .stepper-content h3 {
      margin: 20px 0; }
    .stepper-content p {
      text-align: left;
      padding: 16px 30px; }
