// --- PAGE COMPONENTS ---//
@import './navbar.css';

// --- PAGES --- //
@import './landing.css';
@import './highlights.css';
@import './my-journey.css';
@import './get-in-touch.css';

@media screen and (min-width: 860px) {
  .visible {
    transform: translateX(0px);
    transition: all 0.8s;
  }
  
  .invisible {
    opacity: 0;
    user-select: none;
    transform: translateX(-300px);
    transition: all 0.8s;
    a { cursor: default; }
  }
}