@use "../../styles/mixins.scss";
@use "../../styles/variables.scss";

.contact {
  position: relative;
  top: 60px;
  background-color: #131313;
  width: 100%;
  margin: 40px auto 0;
  padding: 0;
  &-inner {
    margin: 0 auto;
    max-width: variables.$max-container-width;
    padding: 40px 6%;
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
      li a {
        display: flex;
        align-items: center;
        svg {
          margin-right: 8px;
        }
      }
    }
  }
}
