@use "../../styles/mixins.scss";
@use "../../styles/variables.scss";

.about {
  @include mixins.container;
  display: flex;
  align-items: center;
  gap: 20px;
  ul > li {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    margin: 40px 20px 40px 0;
    line-height: 24px;
    &:first-of-type {
      margin-top: 0;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    svg {
      text-align: center;
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
      align-self: center;
      width: 40px;
    }
    a {
      border-bottom: 1px solid;
      border-color: variables.$white;
      &:hover {
        transition: all 0.3s ease-in;
        border-color: variables.$primary-color;
      }
    }
  }
  > img {
    flex: 0 1 30%;
    max-width: 300px;
    object-fit: cover;
    min-height: 300px;
    height: 100%;
    padding: 4px;
    border: 2px solid variables.$white;
  }
}

@media only screen and (max-width: 800px) {
  .about {
    flex-direction: column;
    gap: 40px;
    > img {
      display: none;
    }
  }
}
