#landing {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 5rem);
}

#landing-stencil {
  position: relative;
  width: 100%;
  height: 90%;
  top: 5rem;
}

#landing-stencil svg {
  cursor: default !important;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 800px) {
  #landing-stencil {
    top: -5vh;
    height: 70%;
  }
}

#landing-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  z-index: 1;
  bottom: 80px;
}

#landing button {
  display: flex;
  align-items: center;
  max-height: 30px;
  margin: 2px;
  border: 1px solid white;
  background-color: rgba(0,0,0,0.8);
  color: white;
  cursor: pointer;
  animation: fadeInDown 2s 5s forwards;
  opacity: 0;
}

#landing button:hover {
  background-color: #050505;
  filter: brightness(1.8);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}